<div class="hero-container">
	<div class="welcome-text">
		<h1 class="hero-title">AUTHENTISCH. FRISCH. <span class="highlight">RIESIG.</span></h1>
		<p>
			Wir sind Ihr Anlaufpunkt für authentische und leckere Spezialitäten. Ob saftiger Döner, knusprige Pide,<br>
			cremiger Kumpir oder würzige Tacos - bei Riesenimbiss in Riesa kommt jeder auf seinen Geschmack.<br> Wir
			verwenden nur frische, hochwertige Zutaten, um Ihnen ein unvergessliches Geschmackserlebnis<br> zu bieten.
			Kommen Sie vorbei und überzeugen Sie sich selbst!
		</p>
		<div class="btn-container">
			<!-- <div class="cta-btn" (click)="goToOrder()">Bestellen</div> -->
			<app-neon-button variant="primary" (click)="goToOrder()">
				Bestellen
			</app-neon-button>
		</div>
	</div>

	<div class="entry-wrapper">
		<div class="logo-container" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()"
			[style.transform]="'rotateX(' + current.rx + 'deg) rotateY(' + current.ry + 'deg)'">

			<div class="shine" [style.--mx.%]="current.mx" [style.--my.%]="current.my"></div>

			<div class="logo-card">
				<img src="assets/img/Logo_riesenImbiss_Font12.png" alt="Logo" class="hero-logo">
			</div>
		</div>
	</div>
</div>