// Zentrale Farbvariablen für das Riesenimbiss-Projekt
$imbiss-orange: #d98324;
$imbiss-dark-orange: #52310e;
$imbiss-dark: #0a0e14;
$imbiss-light-dark: #1c252f;
$imbiss-bg-dark: #12161b;
$white: #ffffff;
$imbiss-bg-light: #f6eede;
$text-main: #1a1a1c;
$white-glass: rgba(255, 255, 255, 0.65); 
